.Score-container{
    background-image:linear-gradient(to top , #fff, #6a59ff );
    height:12vh;
    width:107vw;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.score-card{
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height:33px;
    width:33px;
    margin:18px;
}
p{
    margin:18px;
}
.emojiGame-container{
    background-image:linear-gradient(to top , #9796f0,#6a59ff,#fff);
    height:88vh;
    width:107vw;
}